[submodule "sw/mpsLibC"]
	path = sw/mpsLibC
	url = https://github.com/maanavkoladia/mpsLibC.git
[submodule "mpsLibC"]
	path = mpsLibC
	url = https://github.com/maanavkoladia/mpsLibC.git
[submodule "sw/lib/ck"]
	path = sw/lib/ck
	url = https://github.com/concurrencykit/ck.git
